.dashboard-content {
  max-width: 90.277vw;
  margin: 0 auto;
  padding: 0 3vw;
}

.kpi-container {
  display: flex;
  gap: 1.388vw;
  margin-bottom: 1.388vw;
}

.kpi-card {
  flex: 1;
  background: #fff;
  padding: 1.25vw;
  border-radius: 1.111vw;
  border-left: 0.347vw solid #2ea690;
  box-shadow: 0 0.138vw 0.416vw rgba(0,0,0,0.05);
  transition: .2s;
  min-height: 7.638vw; 
}

.kpi-card.critico .kpi-value {
  color: red !important;
}

.kpi-value {
  font-size: 2.083vw;
  font-weight: 700;
  color: #18B187;
  margin: 0.416vw 0;
}

.kpi-sub {
  font-size: 0.833vw;
  color: #777;
}

.graficos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.736vw;
}

.grafico-card {
  background: #fff;
  padding: 1.388vw;
  border-radius: 1.25vw;
  box-shadow: 0 0.208vw 0.694vw rgba(0,0,0,0.07);
}

.titulo-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.833vw;
}

.titulo-actions {
  display: flex;
  align-items: center;
  gap: 0.694vw;
}

.info-tooltip {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.25vw;
  height: 1.25vw;
  border-radius: 50%;
  border: 0.069vw solid #88dc7f;
  font-size: 0.833vw;
  color: #84b96c;
}

.info-tooltip .info-text {
  visibility: hidden;
  opacity: 0;
  width: 15.277vw;
  background: #095d17;
  color: #fff;
  padding: 0.555vw;
  border-radius: 0.555vw;
  font-size: 0.833vw;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 1.944vw;
  transform: translateY(-50%);
  transition: 0.2s ease;
}

.info-tooltip:hover .info-text {
  visibility: visible;
  opacity: 1;
}

.filtro-componente {
  padding: 0.416vw 0.694vw;
  border-radius: 0.416vw;
  border: 0.138vw solid #199745;  
  background-color: #E9F8EF;
  color: #0f7135;
  font-weight: 600;
  cursor: pointer;
}

.filtro-componente:hover {
  background-color: #d6f5e2;
}

.filtro-componente:focus {
  outline: none;
  border-color: #159a45;
}

.periodo {
  padding: 0.138vw 0.694vw;
  border-radius: 0.416vw;
  border: 0.138vw solid #199745;  
  background-color: #E9F8EF;
  color: #0f7135;
  font-weight: 600;
  cursor: pointer;
}

.periodo:hover {
  background-color: #d6f5e2;
}

.periodo:focus {
  outline: none;
  border-color: #159a45;
}

.grafico-card canvas {
  width: 100% !important;
  height: 13.888vw !important;
}

.grafico-pizza canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 15.972vw;
}

.grafico-linhas canvas,
.grafico-barras canvas {
  width: 106% !important;
  height: auto !important;
  max-height: 15.972vw;
}