.box-valores{
    height: 50vh;
    display: flex;
    flex-direction: row;
}

.todos-valores{
    display: flex;
    flex-direction: row;
    padding: 5%;
    align-items: center;
    gap: 3%;
}

.valor1, .valor2,.valor3{
    height: 40vh;
    width: 30%;
    padding: 2%;
}

.valor1 h1, .valor2 h1,.valor3 h1{
    font-size: 43px;
    color: #0B795B;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.valor1 p, .valor2 p,.valor3 p{
    margin-top: 2rem;
    font-size: 25px;
    color: rgb(80, 80, 80);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.linha{
    height: 40vh;
    background-color: gray;
    width: 0.2%;
}

.linha-valores{
    background-color: red;
    width: 100px;
}
